<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Role Listing</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

     <!-- Include Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <style>
        h1 {
            text-align: center;
            padding: 20px;
        }
        label {
            font-weight: bold;
        }
        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
        @media (max-width: 768px) {
            form {
                padding: 10px;
            }
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Add a New Role Listing</h1>
                    </div>
                    <div class="card-body">
                        <form id="addRoleForm" action="http://localhost:5000/add_role_listing/create" method="POST">
                            <div class="mb-3">
                                <label for="role_name" class="form-label">Role Name:</label>
                                <select name="role_name" class="form-select">
                                    <option value="" disabled selected>Select a Role</option>
                                </select>
                            </div>

                            <div class="mb-3" id="roleDescription" style="display: none;">
                                <label for="role_desc" class="form-label">Role Description:</label>
                                <p id="selectedRoleDesc" name="role_desc"></p>
                            </div>

                            <div class="mb-3" id="skillofRole" style="display: none;">
                                <label for="skill_name" class="form-label">Skill required:</label>
                                <p id="selectedskillofRole"></p>
                            </div>

                            <div class="mb-3" id="skillDescription" style="display: none;">
                                <label for="skill_desc" class="form-label">Skill Description:</label>
                                <p id="selectedSkillDesc"></p>
                            </div>

                            <div class="form-group">
                                <label for="department">Department:</label>
                                <select class="form-control" name="department">
                                    <option value="Consultancy">Consultancy</option>
                                    <option value="Engineering">Engineering</option>
                                    <option value="Finance">Finance</option>
                                    <option value="HR">HR</option>
                                    <option value="Sales">Sales</option>
                                    <option value="IT">IT</option>
                                    <option value="Solutioning">Solutioning</option>
                                </select>
                            </div>

                            <br>

                            <div class="mb-3">
                                <label for="date" id="deadline" class="form-label">Deadline:</label>
                                <input type="text" id="datepicker" name="deadline" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">Create Role</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // Initialize the datepicker with the current date and a start date of today
            const currentDate = new Date();
            $('#datepicker').datepicker({
                format: 'yyyy-mm-dd',
                startDate: currentDate,  // Restrict to dates in the future
                todayHighlight: true   // Highlight today's date
            });
        });

        function populateRoles() {
            fetch('http://localhost:5000/get_roles')
                .then(response => response.json())
                .then(data => {
                    const roleSelect = document.querySelector('select[name="role_name"]');
                    roleSelect.innerHTML = '<option value="" disabled selected>Select a Role</option>';

                    // Create a dictionary to store role descriptions by role name
                    const roleDescriptions = {};

                    data.forEach(role => {
                        roleSelect.innerHTML += `<option value="${role.role_name}">${role.role_name}</option>`;

                        // Store role descriptions in the dictionary
                        roleDescriptions[role.role_name] = role.role_desc;
                    });

                    // Add an event listener to the role select dropdown
                    roleSelect.addEventListener('change', function () {
                        const selectedRole = this.value;

                        // Check if a role is selected
                        if (selectedRole) {
                            // Get the role description from the dictionary and display it
                            const roleDescription = roleDescriptions[selectedRole];
                            displayRoleDescription(roleDescription);

                            // Fetch and display the skill description for the selected role
                            fetchRoleSkill(selectedRole);
                        }
                    });
                });
        }

        // Function to display role description
        function displayRoleDescription(description) {
            const roleDescriptionContainer = document.getElementById('roleDescription');
            const roleDescription = document.getElementById('selectedRoleDesc');
            roleDescription.textContent = description;
            roleDescriptionContainer.style.display = 'block';
        }

        // Function to display role skill
        function displayRoleSkill(skill) {
            const skillOfRoleContainer = document.getElementById('skillofRole');
            const skillOfRole = document.getElementById('selectedskillofRole');
            skillOfRole.textContent = skill;
            skillOfRoleContainer.style.display = 'block';
        }

        // Function to fetch and display role skill
        function fetchRoleSkill(roleName) {
            fetch(`http://localhost:5000/get_role_skill?roleName=${roleName}`)
                .then(response => response.json())
                .then(data => {
                    displayRoleSkill(data.skill_name);
                });
        }

        // Function to fetch and display skill description
        function fetchSkillDescription(skillName) {
            fetch(`http://localhost:5000/get_skills?skillName=${skillName}`)
                .then(response => response.json())
                .then(data => {
                    displaySkillDescription(data.skill_desc);
                });
        }

        // Function to display skill description
        function displaySkillDescription(description) {
            const skillDescriptionContainer = document.getElementById('skillDescription');
            const skillDescription = document.getElementById('selectedSkillDesc');
            skillDescription.textContent = description;
            skillDescriptionContainer.style.display = 'block';
        }

        // Call the populateRoles function when the page loads
        window.onload = () => {
            populateRoles();
        };
    </script>
</body>
</html>
